services:
  app:
    build: .
    container_name: ecommerce-backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - .env 
      - HTTP_PROXY=http://your-proxy:port
      - HTTPS_PROXY=http://your-proxy:port   # yahan se saari env values aayengi
    dns:
      - 8.8.8.8
      - 1.1.1.1